[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pydub = "*"
flask = "*"
gunicorn = "*"
requests = "*"
flask-socketio = "*"
gevent = "*"
gevent-websocket = "*"

[dev-packages]

[requires]
python_version = "3.8"
